﻿@model NetFlax.Models.Video
@if (Model.IsLast)
{
    @:<div class="content-grid last-grid">
}
else
{
    @:<div class="content-grid">
}
        <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="~/images/@Model.Thumb" title="@Model.Title" /></a>
        <h3>@Model.ShortDesc</h3>
        <ul>
            <li><a href="#?id=@Model.ID"><img src="~/images/likes.png" title="image-name" /></a></li>
            <li><a href="#?id=@Model.ID"><img src="~/images/views.png" title="image-name" /></a></li>
            <li><a href="#?id=@Model.ID"><img src="~/images/link.png" title="image-name" /></a></li>
        </ul>
        <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Watch now</a>
    </div>
