﻿<!DOCTYPE html>
<html>
<head>
    <title>NetFlax - Best Movies Site Ever</title>
    @Styles.Render("~/Content/css")
    @RenderSection("Css", required: false)
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("Scripts", required: false)
    <!-- Custom Theme files -->
       <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
    <!-- header-section-starts -->
    <div class="full">
        <div class="menu">
            <ul>
                <li><a class="active" href="/Home/Index"><i class="home"></i></a></li>
                <li><a href="/Home/Video"><div class="video"><i class="videos"></i><i class="videos1"></i></div></a></li>
                <li><a href="/Home/reviews"><div class="cat"><i class="watching"></i><i class="watching1"></i></div></a></li>
                @*<li><a href="/Home/page404"><div class="bk"><i class="booking"></i><i class="booking1"></i></div></a></li>*@
                <li><a href="/Home/Contact"><div class="cnt"><i class="contact"></i><i class="contact1"></i></div></a></li>

                <li><a href="/Admin/index"><div class="bk"><i class="booking"></i><i class="booking1"></i></div></a></li>
            </ul>
        </div>
        <div class="main">
               @RenderBody()
            <div class="footer">
                <h6>Disclaimer : </h6>
                <p class="claim">This is a freebies and not an official website, I have no intention of disclose any movie, brand, news.My goal here is to train or excercise my skill and share this freebies.</p>
                <a href="example@mail.com">example@mail.com</a>
                <div class="copyright">
                    <p>Hortance Mekeng  - <a href="www.interface3.be">Interface3</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

</body>
</html>