﻿@model NetFlax.Models.SliderModel
@*<ul id="@ViewBag.SlideId1">
    <li><img src="~/images/r1.jpg" alt="" /></li>
    <li><img src="~/images/r2.jpg" alt="" /></li>
    <li><img src="~/images/r3.jpg" alt="" /></li>
    <li><img src="~/images/r4.jpg" alt="" /></li>
    <li><img src="~/images/r5.jpg" alt="" /></li>
    <li><img src="~/images/r6.jpg" alt="" /></li>
</ul>*@

<ul id="@Model.Id">
   @foreach (string image in Model.Pictures)
   {
    <li><img src="~/images/@image" alt="" /></li>
   }
</ul>


<script type="text/javascript">
		$(window).load(function() {

		  $("#@Model.Id").flexisel({
				visibleItems: 6,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,
				pauseOnHover: false,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: {
					portrait: {
						changePoint:480,
						visibleItems: 2
					},
					landscape: {
						changePoint:640,
						visibleItems: 3
					},
					tablet: {
						changePoint:768,
						visibleItems: 4
					}
				}
			});
			});
</script>
@section Scripts
{
    @Scripts.Render("~/bundles/flexisel")
    
}


@*<ul id="flexiselDemo2">
    <li><img src="~/images/m1.jpg" alt="" /></li>
    <li><img src="~/images/m2.jpg" alt="" /></li>
    <li><img src="~/images/m3.jpg" alt="" /></li>
    <li><img src="~/images/m4.jpg" alt="" /></li>
</ul>
<script type="text/javascript">
    $(window).load(function () {

        $("#flexiselDemo2").flexisel({
            visibleItems: 4,
            animationSpeed: 1000,
            autoPlay: true,
            autoPlaySpeed: 3000,
            pauseOnHover: false,
            enableResponsiveBreakpoints: true,
            responsiveBreakpoints: {
                portrait: {
                    changePoint: 480,
                    visibleItems: 2
                },
                landscape: {
                    changePoint: 640,
                    visibleItems: 3
                },
                tablet: {
                    changePoint: 768,
                    visibleItems: 3
                }
            }
        });
    });
</script>*@