﻿
@{
    ViewBag.Title = "Contact";
}
<div class="contact-content">
    <div class="top-header span_top">
        <div class="logo">
            <a href="index.html"><img src="../images/logo.png" alt="" /></a>
            <p>Movie Theater</p>
        </div>
        <div class="search v-search">
            <form>
                <input type="text" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}" />
                <input type="submit" value="">
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
    <h2>Contact</h2>
    <!-- Affichages des contacts-->
    <div class="table-responsive">
        <table class="table  table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <td>Numero</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Phone</td>
                    <td>Message</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                @foreach (Dictionary<string, object> item in Model)
                {
                    <tr>
                        <td>@item["Id"]</td>
                        <td>@item["Name"]</td>
                        <td>@item["Email"]</td>
                        <td>@item["Phone"]</td>
                        <td>@item["Message"]</td>

                        <td><a href="#" class="btn btn-danger" 
                               onclick="javascript: 
                               confirm('Voulez-vous supprimer le contact : @item["Name"] ?');">
                            Delete
                            </a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<br /><br />