﻿
@{
    ViewBag.Title = "Customer";
}
<div class="contact-content">
    <div class="top-header span_top">
        <div class="logo">
            <a href="index.html"><img src="../images/logo.png" alt="" /></a>
            <p>Movie Theater</p>
        </div>
        <div class="search v-search">
            <form>
                <input type="text" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}" />
                <input type="submit" value="">
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
    <h2>Customer</h2>
    <!-- Affichages des contacts-->
    <div class="table-responsive">
        <table class="table  table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <td>CustomerNum</td>
                    <td>Lastname</td>
                    <td>Firstname</td>
                    <td>Email</td>
                    <td>Password</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                @foreach (Dictionary<string, object> item in Model)
            {
                    <tr>
                        <td>@item["CustomerID"]</td>
                        <td>@item["Lastname"]</td>
                        <td>@item["Firstname"]</td>
                        <td>@item["Email"]</td>
                        <td>******</td>
                        <td><a href="#" id="@item["Lastname"]" class="btn btn-danger btnDel">Delete</a></td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

    <br /><br />
    <br /><br />
    <br /><br />

    <script>
        $(".btnDel").on("click", function (e) {
            var rep = confirm("Voulez vous supprimer " + $(this).attr("id") + "?");
        });
    </script>



