﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="contact-content">
    <div class="top-header span_top">
        <div class="logo">
            <a href="index.html"><img src="../images/logo.png" alt="" /></a>
            <p>Movie Theater</p>
        </div>
        <div class="search v-search">
            <form>
                <input type="text" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}" />
                <input type="submit" value="">
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
    <div>
        <ul>
            <li><a href="~/Admin/Contact">Liste des contacts</a></li>
            <li>@Html.ActionLink("List des customers", "Customer")</li>
            <li><a href="~/Admin/Media">List des médias</a></li>
        </ul>
    </div>
    <br /><br />
    <br /><br />
    <br /><br />

