﻿
@{
    ViewBag.Title = "Media";
}
<div class="contact-content">
    <div class="top-header span_top">
        <div class="logo">
            <a href="index.html"><img src="../images/logo.png" alt="" /></a>
            <p>Movie Theater</p>
        </div>
        <div class="search v-search">
            <form>
                <input type="text" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}" />
                <input type="submit" value="">
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
    <h2>Media</h2>
    <!-- Affichages des contacts-->
    <div class="table-responsive">
        <table class="table  table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <td>NumeroMedia</td>
                    <td>Name</td>
                    <td>Reference</td>
                    <td>AiringDate</td>
                    <td>UnitPrice</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                @foreach (Dictionary<string, object> item in Model)
            {
                    <tr>
                        <td>@item["MediaID"]</td>
                        <td>@item["Name"]</td>
                        <td>@item["Reference"]</td>
                        <td>@item["AiringDate"]</td>
                        <td>@item["UnitPrice"]&euro;</td>
                        <td><a href="#" id="@item["Name"]" class="btn btn-danger btnDel">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    <br /><br />
    <br /><br />
    <br /><br />


<script>
    $(".btnDel").on("click", function (e)
    {
        var rep =confirm("Voulez vous supprimer " + $(this).attr("id") + "?");
    });
</script>
