﻿@model IEnumerable<NetFlax.Models.Video>
@section Css
{
    @Styles.Render("~/Content/VideoCss")
}

@section Scripts
{
@Scripts.Render("~/bundles/popuo")

    }

<div class="video-content">
    <div>
        <div class="top-header  span_top">
            @{
                Html.RenderPartial("~/Views/Shared/_HeaderSearch.cshtml");
            }
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="right-content">
        <div class="right-content-heading">
            <div class="right-content-heading-left">
                <h3 class="head">Latest Collection of videos</h3>
            </div>
        </div>
        <!-- pop-up-box -->
        <script>
				$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
				});
				});
        </script>

        <!--//pop-up-box -->

        <div class="content-grids">
            @foreach(NetFlax.Models.Video item in Model)
            {
                Html.RenderPartial("~/Views/Shared/_FicheVideo.cshtml", item);
            }
            <div class="clearfix"> </div>
            <!-- start-pagenation -->
            <div class="pagenation">
                <ul>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
            <!-- End-pagenation -->
        </div>
    </div>
    <div class="clearfix"> </div>
</div>	
